extends ./layout

block mainContent
    .kt-portlet__head
        .kt-portlet__head-label
            span.kt-portlet__head-icon
                i.margin-auto.material-icons.material-icons-outlined perm_identity
            h3.kt-portlet__head-title
                | Lista de Usuarios
    .kt-portlet__body
        .input#baseUrl(type='hidden' value!=baseUrl)
        .kt-content.kt-grid__item.kt-grid__item--fluid
            table#usersTable.table
                thead
                    tr
                        td Nombre
                        td Email
                        td Teléfono
                        td Fecha creación
                        td
                tbody
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td
                    //tr
                    //    td AB75231
                    //    td abc@xyz.com
                    //    td 123123
                    //    td Mekao grado ok bis, muo priskriba supreniro antaŭhieraŭ li, vol liva prepoziciaĵo vo.
                    //    td

