module.exports = {
    server: {
        isDev: true,
        // port: 3030,
        port: 80,
        portSsl: 443,
        propietariosBaseUrl: 'https://propietarios.alquilerista.com/',
        adminBaseUrl: 'https://admin.alquilerista.com/',
        inquilinosBaseUrl: 'https://inquilinos.alquilerista.com/',
        // propietariosBaseUrl: 'https://propietarios.alquilerista.com/',
        // adminBaseUrl: 'https://admin.alquilerista.com/',
        name: 'CMS',
        secret: 'expresscmstoken@@',
        sslKey: './sslcert/localhost.key',
        sslCert: './sslcert/localhost.cert',
        sslCA: './sslcert/alphasslrootcabundle.crt',
        // sslKey: './sslcert/key.pem',
        // sslCert: './sslcert/cert.pem',
        // sslCA: './sslcert/alphasslrootcabundle.crt',
    },
    mysql: {
        connectionLimit: 10,
        host: '127.0.0.1',
        user: 'root',
        password: '',
        database: 'express_cms',
        port: 3306
    },
    session: {
        name: 'snevado',
        key: 'expresscms',
        secret: 'expresscmstoken@@',
    },
    smtp: {
        service: 'gmail',
        host: 'smtp.gmail.com',
        port: 465,
        secure: true,
        userinquilinos: 'inquilinos@bodypal.com',
        userpropietarios: 'propietarios@bodypal.com',
        pass: 'Alqu1ler1sta',
    },
    // smtp: {
    //     // service: 'gmail',
    //     host: 'mail.alquilerista.com',
    //     port: 465,
    //     secure: true,
    //     user: 'hola@alquilerista.com',
    //     pass: 'Alqu1ler1sta',
    // },
    dbTblName: {
        admins: 'admins',
        propietarios: 'users',
        documentos: 'documentos',
        properties: 'properties',
        property_photos: 'property_photos',
        application: 'application',
        application_documents: 'application_documents',
        amenities: 'amenities',
        tokens: 'tokens',
    },
};
