module.exports = {
    server: {
        // port: 3030,
        port: 80,
        portSsl: 443,
        // baseUrl: 'https://alquilerista.com/',
        propietariosBaseUrl: 'https://propietarios.alquilerista.com/',
        adminBaseUrl: 'https://admin.alquilerista.com/',
        // baseUrl: 'http://127.0.0.1:3030/',
        name: 'CMS',
        secret: 'expresscmstoken@@',
    },
    mysql: {
        connectionLimit: 10,
        host: '127.0.0.1',
        user: 'root',
        password: '',
        database: 'express_cms',
        port: 3306
    },
    session: {
        key: 'expresscms',
        secret: 'expresscmstoken@@',
    },
    smtp: {
        service: 'gmail',
        host: 'smtp.gmail.com',
        port: 465,
        secure: true,
        user: 'honey96dev@gmail.com',
        pass: 'skdmlEmail@123456',
    },
    dbTblName: {
        admins: 'admins',
        propietarios: 'users',
    },
};
