extends ../layout

block mainContent
    .row
        .col-12
            .kt-portlet.kt-portlet--height-fluid.kt-portlet--height-fluid-transparent
                .kt-portlet__head
                    .kt-portlet__head-label
                        span.kt-portlet__head-icon
                            i.margin-auto.la.la-home
                        h3.kt-portlet__head-title=title

    .row
        .col-lg-7.col-md-6
            .kt-portlet.kt-portlet--height-fluid
                .kt-portlet__body.my-card.add-card-body
                    form#form(action='' data-method!=method)
                        input#id.form-control.my-input.property-name(type='hidden' name='id' value!=data['id'])
                        .form-control-sec
                            input#name.form-control.my-input.property-name(placeholder='Nombre de la Propiedad' name='name' value!=data['name'])
                        .form-control-sec
                            input#address.form-control.my-input.property-address(placeholder='Dirección' name='address' value!=data['address'])
                        .row.property-select2-sec
                            .col-lg-3.col-md-3.my-input-sec
                                p Tipo
                                select#type.form-control.kt-select2.my-input(name='type')
                                    option
                                    for type in types
                                        option(value!=type selected=(data['type'] == type))=type
                                input#type1.form-control.my-input.property-address(type='hidden' name='type1')
                            .col-lg-3.col-md-3.my-input-sec
                                p Habitaciones
                                select#rooms.form-control.kt-select2.my-input(name='rooms')
                                    option
                                    for room in rooms
                                        option(value!=room selected=(data['rooms'] == room))=room
                                input#rooms1.form-control.my-input.property-address(type='hidden' name='rooms1')
                            .col-lg-3.col-md-3.my-input-sec
                                p Baños
                                select#baths.form-control.kt-select2.my-input(name='baths')
                                    option
                                    for bath in baths
                                        option(value!=bath selected=(data['baths'] == bath))=bath
                                input#baths1.form-control.my-input.property-address(type='hidden' name='baths1')
                            .col-lg-3.col-md-3
                                p Metros
                                input#surface.form-control.my-input.property-surface(placeholder='Metros' name='surface' type='number' value!=data['surface'])
                        .row.property-bottom-input-sec
                            .col-6
                                .input-group.price-input-sec
                                    .input-group-prepend
                                        span.input-group-text €
                                    input#price.form-control.my-input.property-surface.price-input(placeholder='Precio de alquiler' name='price' type='number' value!=data['price'])
                            .col-6
                                .input-group.price-input-sec
                                    .input-group-prepend
                                        span.input-group-text €
                                    input#accPrice.form-control.my-input.property-surface.price-input(placeholder='Precio de adquisición' name='accPrice' type='number' value!=data['accPrice'])
                        .form-control-sec.property-create-button-sec
                            button#addButton.btn.btn-secondary.edit-button.btn-elevate.btn-pill.property-create-button(type='button')
                                if (data['id'])
                                    | Guardar
                                else
                                    | Crear Propiedad
                            if (data['id'])
                                button#backButton.btn.btn-secondary.back-button.btn-elevate.btn-pill.property-create-button(type='button')
                                    | Atrás
        .col-lg-5.col-md-6
            .kt-portlet.kt-portlet--height-fluid
                #gmap.kt-portlet__body.property-map-card
                    // <div id="gmap" style="height:287px;"></div>

