extends ../layout

block mainContent
    .row
        .col-12
            .kt-portlet.kt-portlet--height-fluid.kt-portlet--height-fluid-transparent
                .kt-portlet__head
                    .kt-portlet__head-label
                        span.kt-portlet__head-icon
                            i.margin-auto.la.la-home
                        h3.kt-portlet__head-title=title


    #itemList
        .row
            //.col-xl-3.col-lg-4.col-md-4.col-sm-6.col-xm-12
            //    .kt-portlet.kt-portlet--height-fluid
            //        .kt-portlet__body.my-card.add-card-body
            //            .add-card-button-wrapper
            //                button#addItem.btn.btn-secondary.edit-button.btn-elevate.btn-pill.add-card-button(type='button')
            //                    i.la.la-plus
            //            .add-card-description1
            //                | Add Property
            //            .add-card-description2
            //                | it willl be visible for pottential tenants in search results
            //.col-xl-3.col-lg-4.col-md-4.col-sm-6.col-xm-12
            //    .kt-portlet.kt-portlet--height-fluid
            //        .kt-portlet__body.my-card.list-card-body
            //            .list-card-img(style='background-image: url(uploads/room1.png)')
            //            .list-card-waiting-verification-mark
            //                | Waiting for verification
            //            .list-card-name-badge
            //                | Berlin apartments
            //            .list-card-address
            //                | ErstBEZUG! Kernsaniertes 2- kern...
            //            .list-card-property-sec.row
            //                .col-4.list-card-property
            //                    li.fa.fa-expand-arrows-alt
            //                    |                                                     100m2
            //                .col-4.list-card-property
            //                    li.fa.fa-bed
            //                    |                                                     2  rooms
            //                .col-4.list-card-property
            //                    li.fa.fa-bath
            //                    |                                                     bath
            //.col-xl-3.col-lg-4.col-md-4.col-sm-6.col-xm-12
            //    .kt-portlet.kt-portlet--height-fluid
            //        .kt-portlet__body.my-card.list-card-body
            //            .list-card-solid
            //                .list-card-name
            //                    | Berlin apartments
            //            .list-card-address
            //                | ErstBEZUG! Kernsaniertes 2- kern...
            //            .list-card-property-sec.row
            //                .col-4.list-card-property
            //                    li.fa.fa-expand-arrows-alt
            //                    |                                                     100m2
            //                .col-4.list-card-property
            //                    li.fa.fa-bed
            //                    |                                                     2  rooms
            //                .col-4.list-card-property
            //                    li.fa.fa-bath
            //                    |                                                     bath
            //.col-xl-3.col-lg-4.col-md-4.col-sm-6.col-xm-12
            //    .kt-portlet.kt-portlet--height-fluid
            //        .kt-portlet__body.my-card.list-card-body
            //            .list-card-img(style='background-image: url(uploads/room1.png)')
            //            .list-card-waiting-verification-mark
            //                | Waiting for verification
            //            .list-card-name-badge
            //                | Berlin apartments
            //            .list-card-address
            //                | ErstBEZUG! Kernsaniertes 2- kern...
            //            .list-card-property-sec.row
            //                .col-4.list-card-property
            //                    li.fa.fa-expand-arrows-alt
            //                    |                                                     100m2
            //                .col-4.list-card-property
            //                    li.fa.fa-bed
            //                    |                                                     2  rooms
            //                .col-4.list-card-property
            //                    li.fa.fa-bath
            //                    |                                                     bath
            //.col-xl-3.col-lg-4.col-md-4.col-sm-6.col-xm-12
            //    .kt-portlet.kt-portlet--height-fluid
            //        .kt-portlet__body.my-card.list-card-body
            //            .list-card-solid
            //                .list-card-name
            //                    | Berlin apartments
            //            .list-card-address
            //                | ErstBEZUG! Kernsaniertes 2- kern...
            //            .list-card-property-sec.row
            //                .col-4.list-card-property
            //                    li.fa.fa-expand-arrows-alt
            //                    |                                                     100m2
            //                .col-4.list-card-property
            //                    li.fa.fa-bed
            //                    |                                                     2  rooms
            //                .col-4.list-card-property
            //                    li.fa.fa-bath
            //                    |                                                     bath
            //.col-xl-3.col-lg-4.col-md-4.col-sm-6.col-xm-12
            //    .kt-portlet.kt-portlet--height-fluid
            //        .kt-portlet__body.my-card.list-card-body
            //            .list-card-img(style='background-image: url(uploads/room1.png)')
            //            .list-card-waiting-verification-mark
            //                | Waiting for verification
            //            .list-card-name-badge
            //                | Berlin apartments
            //            .list-card-address
            //                | ErstBEZUG! Kernsaniertes 2- kern...
            //            .list-card-property-sec.row
            //                .col-4.list-card-property
            //                    li.fa.fa-expand-arrows-alt
            //                    |                                                     100m2
            //                .col-4.list-card-property
            //                    li.fa.fa-bed
            //                    |                                                     2  rooms
            //                .col-4.list-card-property
            //                    li.fa.fa-bath
            //                    |                                                     bath
            //.col-xl-3.col-lg-4.col-md-4.col-sm-6.col-xm-12
            //    .kt-portlet.kt-portlet--height-fluid
            //        .kt-portlet__body.my-card.list-card-body
            //            .list-card-solid
            //                .list-card-name
            //                    | Berlin apartments
            //            .list-card-address
            //                | ErstBEZUG! Kernsaniertes 2- kern...
            //            .list-card-property-sec.row
            //                .col-4.list-card-property
            //                    li.fa.fa-expand-arrows-alt
            //                    |                                                     100m2
            //                .col-4.list-card-property
            //                    li.fa.fa-bed
            //                    |                                                     2  rooms
            //                .col-4.list-card-property
            //                    li.fa.fa-bath
            //                    |                                                     bath
