.disabled {
    background: #eee !important;
    color: #333;
}

.disabled:hover {
    background: #eee !important;
    color: #333 !important;
    cursor: default !important;
}

#prev_btn {
    border-radius: 50px;
}

#next_btn {
    border-radius: 50px;
}