.kt-portlet--height-fluid-transparent {
    background-color: transparent !important;
    box-shadow: none !important;
}

#description {
    font-size: 14pt;
}

.my-card {
    margin-bottom: 20px;
    border-radius: 5px !important;
}

.price-button-container {
    background: white;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin:auto;
}

.price-button-container .price-button {
    width: 250px;
    height: 70px;
    position: absolute;
    border-radius: 8px;
    top: 200px;
    padding-top: 21px;
    font-size: 18pt;
    font-family: proxima-nova,sans-serif;
}

.price-button-container .price-description {
    width: 250px;
    height: 210px;
    position: absolute;
    z-index: 1;
    background: white;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    padding-top: 50px;
}

.price-title {
    font-size: 14pt;
    font-weight: 400;
    color: #9c99b6;
}

.price-value {
    font-size: 24pt;
    font-weight: 500;    
    color: black;
}

.disponible-desde {
    width: 100%;
    height: 40px;
    background: #bbb;
    position: absolute;
    top: 170px;
    padding-top: 10px;
    color: black;
}

.disponible-desde-date {
    font-size: 13pt;
    font-weight: 700;
}

.rb-btn-green {
    background-color: #53c160;
    border: 1px solid #53c160;
}

.rb-btn-green.active, .rb-btn-green:not(:disabled):active {
    background: #3ca548 !important;
    border: 1px solid #53c160;
}

.rb-btn-green.hover, .rb-btn-green:not(:disabled):hover {
    background: #42b850 !important;
    border: 1px solid #53c160;
}

.transparent {
    background: rgba(255,255,255,0) !important;
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.0) !important;
}

.btn-secondary.edit-button {
    background-color: #FF5722 !important;
    border: 1px solid #FF5722 !important;
    color: #fff !important;
}

.btn-secondary.back-button {
    margin-left: 10px;
}

.show > .btn-secondary.dropdown-toggle, .btn-secondary.edit-button:focus, .btn-secondary.edit-button.active, .btn-secondary.edit-button:active, .btn-secondary.edit-button:hover {
    color: #fff !important;
    border-color: #ff6808 !important;
    background-color: #ff6808 !important;
}

.my-input-sec {
    margin-bottom: 10px;
}

.my-input:active, .my-input:focus .my-input::placeholder{
    color: rgba(255,255,255,0.84);
    border-color: #ff6808;
}

.my-input::placeholder{
    color: rgba(255,255,255,0.84);
}

.my-input {
    border-radius: 5px;
    border: solid 1px rgba(255,255,255,0.35);
    background: rgba(255,255,255,0);
    color: rgba(255,255,255,0.84);
}

.my-input[readonly] {
    border-radius: 5px;
    border: solid 1px rgba(255,255,255,0.35);
    background: rgba(255,255,255,0);
    color: rgba(255,255,255,0.84);
}


.white-p {
    color: #ffffff;
}

.form-control-sec {
    margin-left: 8px;
    margin-right: 8px;
}

.property-name {
    margin-top: 5px;
    font: 29px "Roboto";
}

.property-address {
    margin-top: 28px;
    font: 14px "Roboto";
}

.property-select2-sec {
    margin-top: 28px;
    margin-left: 0px;
    margin-right: 0px;
}

.property-create-button-sec {
    /*margin-top: 44px;*/
    margin-bottom: 20px;
    text-align: right;
}

.property-create-button {
    width: 119px;
    height: 34px;
    font: 12px "Roboto";
}

.property-map-card {
    padding: 0 !important;
}

.price-container {
    border-radius: 5px;
    background: #ffffff;
    margin-bottom: 30px;
}

.select2-transparent + .select2 .select2-selection {
    border-radius: 4px;
    border: solid 1px rgba(255,255,255,0.38);
    background-color: transparent;
    color: rgba(255,255,255,0.97) !important;
}

.select2-transparent + .select2 .select2-selection .select2-selection__placeholder,
.select2-transparent + .select2 .select2-selection .select2-selection__rendered {
    color: rgba(255,255,255,0.97);
}

.document-property-container {
    padding: 24px 16px 24px 6px;
    background-color: #ff6808;
}

@media (min-width: 1025px) {
    .document-property-container {
        padding: 40px 36px 10px 26px;
    }
}

.document-property-container .add-card-body {
    padding: 0 5px;
}


#gmap {
    height: 310px;
}

.document-detail-container {
    margin-top: 0px;
    padding: 0px 26px 26px 26px;
}

.image-100 {
    margin-bottom: 20px;
    max-width: 210px;
    height: 184px;
}

.image-15 {
    width: 15px;
    height: 15px;
}

.dropzone {
    border-width: 0 !important;
    margin-left: auto;
    margin-right: auto;
}

.row-spacing-10 {
    padding: 10px 0 10px 0;
}

.content-font {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.price-input {
    border-radius: 5px;
    border: solid 1px #dfe2e6;
    background: #ffffff;
}

.price-input-real {
    font-size: 16px;
    color: #ACADAE;
}

.price-input-sec {
    margin-bottom: 10px;
}

.price-input:active, .price-input:focus{
    border-color: #ff6808;
}

.description-rectangle {
    margin-top: 20px;
    height: 95px;
    border-radius: 5px;
    border: solid 1px #dfe2e6;
    background: #ffffff;
}

.goot-it-font{
    color: #fc4850; font-family: 'Poppins';font-size: 11px;  font-weight: 400;  line-height: 21px;
}

.amenities-container {
    background: #f9f8f8;
    color: #686868;
    padding-bottom: 10px;
}

.content-container{
    margin-top: 15px;
    margin-bottom: 15px;
    /*padding: 15px 0px 15px 15px;*/
}

@media (min-width: 769px) {
    .detail-container {
        margin-top: 32px;
        margin-right: 15px;
        height: 111px;
        border-radius: 5px;
        background: rgba(255, 87, 34, 0.05);
        font-size: 12px;
        color: black;
        padding: 10px 10px 10px 20px;
    }
}
@media (max-width: 768px) {
    .detail-container {
        height: 0;
        visibility: hidden;
    }

    #photos {
        padding-top: 50px;
    }
}

.text-padding-1 {
    padding: 10px 10px 10px 20px;
}

.title-content {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #414142;
}

.amenities-list {
    padding-left: 30px;
    padding-top: 10px;
}

.amenities-item {
    padding-bottom: 15px;
}

.amenities-item i {
    width: 24px;
}

.available-free {
    margin-top: 30px;
    color: #414142;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 5px;
}

.available-trovit{

}
.available-trovit label {
    vertical-align: middle;
    margin-bottom: 0;
    line-height: 22px;
    margin-left: 14px;
    color: #414142;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}

.available-trovit .kt-switch input:empty ~ span {
    width: 50px;
    height: 22px;
}

.available-trovit .kt-switch.kt-switch--danger:not(.kt-switch--outline) input:checked ~ span:before {
    background-color: #ff6808;
}

.available-trovit .kt-switch.kt-switch--danger:not(.kt-switch--outline) input:empty ~ span:before {
    background-color: #ff6808;
}

.available-trovit .kt-switch input:checked ~ span:after {
    margin-left: 32px;
}
.available-trovit .kt-switch input:empty ~ span:after {
    height: 20px;
    width: 20px;
    top: 1px;
}

.avaliable-form-type {
    border-radius: 4px;
    border: solid 1px #dfe2e6;
    margin-bottom: 20px;
    height: 42px;
}

.avaliable-form-type .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 2.0;
}

.avaliable-form-type .select2-selection__arrow, .avaliable-form-type .select2-transparent + .select2 .select2-selection .select2-selection__rendered, .avaliable-form-type .select2-selection__placeholder {
    color: #686868 !important;
    font-size: 12px;
}

.savebutton {

}

.savebutton .property-create-button-sec {
    margin-top: 0px;
    margin-bottom: 20px;
}

.savebutton .btn-secondary.edit-button {
    width: 163px;
    height: 36px;
    box-shadow: 0px 10px 20px rgba(41,177,204,0.3);
    background-color: #8f8f8e;
}

.savebutton .btn-secondary.edit-button {
    background-color: #8f8f8e !important;
    border: 0px solid #FF5722 !important;
}

@media (min-width: 769px) {
    .first-detail-container {
        margin-top: 80px;
    }
}

.kt-checkbox.kt-checkbox--warning > span, .kt-checkbox.kt-checkbox--warning > input:checked ~ span {
    border: 1px solid #FF5722;
}

.kt-checkbox.kt-checkbox--warning > span:after {
    border: solid #FF5722;
}

.datepicker tbody tr > td.day.selected, .datepicker tbody tr > td.day.selected:hover, .datepicker tbody tr > td.day.active, .datepicker tbody tr > td.day.active:hover {
    background: #FF5722;
    color: #ffffff;
}

.datepicker tbody tr > td.day.today {
    position: relative;
    background: rgba(255, 87, 34, 0.7) !important;
    color: #ffffff !important;
}

cker tbody tr > td span.year.focused, .datepicker tbody tr > td span.year.focused:hover, .datepicker tbody tr > td span.year.active:hover, .datepicker tbody tr > td span.year.active.focused:hover, .datepicker tbody tr > td span.year.active, .datepicker tbody tr > td span.hour.focused, .datepicker tbody tr > td span.hour.focused:hover, .datepicker tbody tr > td span.hour.active:hover, .datepicker tbody tr > td span.hour.active.focused:hover, .datepicker tbody tr > td span.hour.active, .datepicker tbody tr > td span.minute.focused, .datepicker tbody tr > td span.minute.focused:hover, .datepicker tbody tr > td span.minute.active:hover, .datepicker tbody tr > td span.minute.active.focused:hover, .datepicker tbody tr > td span.minute.active, .datepicker tbody tr > td span.month.focused, .datepicker tbody tr > td span.month.focused:hover, .datepicker tbody tr > td span.month.active:hover, .datepicker tbody tr > td span.month.active.focused:hover, .datepicker tbody tr > td span.month.active {
    background: #FF5722;
    color: #ffffff;
}

.gallery-item {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.gallery-item:hover {opacity: 0.7;}

/* The Modal (background) */
.gallery-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.gallery-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#gallery-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.gallery-modal-content, #gallery-caption { 
animation-name: zoom;
animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: fixed;
    top: 75px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 10;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .gallery-modal-content {
        width: 100%;
    }
}


@import url(http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light);
*{outline:none;}
#toolbar{position:fixed; z-index:3; right:10px; top:10px; padding:5px; background:url(/images/fs_img_g_bg.png);}
#toolbar img{border:none;}
#img_title{position:fixed; z-index:3; left:10px; top:10px; padding:10px; background:url(/images/fs_img_g_bg.png); color:#FFF; font-family:'Josefin Sans Std Light', arial, serif; font-size:24px; text-transform:uppercase;}
#bg{position:fixed; z-index:1; overflow:hidden; width:100%; height:100%; background: black;}
#bgimg{display:none; -ms-interpolation-mode: bicubic;}
#preloader{position:relative; z-index:3; width:32px; padding:20px; top:80px; margin:auto; background:#000;}
#thumbnails_wrapper{z-index:2; position:fixed; bottom:0; width:100%; background:url(/images/empty.gif); /* stupid ie needs a background value to understand hover area */}
#outer_container{position:relative; padding:0; width:100%; margin:40px auto;}
#outer_container .thumbScroller{position:relative; overflow:hidden; background:url(/images/fs_img_g_bg.png);}
#outer_container .thumbScroller, #outer_container .thumbScroller .container, #outer_container .thumbScroller .content{height:170px;}
#outer_container .thumbScroller .container{position:relative; left:0;}
#outer_container .thumbScroller .content{float:left;}
#outer_container .thumbScroller .content div{margin:5px; height:100%;}
#outer_container .thumbScroller img{border:5px solid #fff;}
#outer_container .thumbScroller .content div a{display:block; padding:5px;}

.nextImageBtn, .prevImageBtn{display:block; position:absolute; width:50px; height:50px; top:50%; margin:-25px 10px 0 10px; z-index:3; filter:alpha(opacity=40); -moz-opacity:0.4; -khtml-opacity:0.4; opacity:0.4;}
.nextImageBtn:hover,.prevImageBtn:hover{filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8;}
.nextImageBtn{right:0; background:#000 url(/images/nextImgBtn.png) center center no-repeat;}
.prevImageBtn{background:#000 url(/images/prevImgBtn.png) center center no-repeat;}

#gallery_container {
    width: 100%;
    height: 100%;
    background: black;
    z-index: 3;
    position: absolute;
}