module.exports = {
    baseUrl: 'http://127.0.0.1:3000/',
    mysql: {
        host: '127.0.0.1',
        user: 'root',
        password: '',
        database: 'express_cms',
        port: 3306
    },
};
