.kt-portlet--height-fluid-transparent {
    background-color: transparent !important;
    box-shadow: none !important;
}

.btn-secondary {
    background-color: #0F9DE2;
    border: 1px solid #0F9DE2;
    color: #fff;
}

.show > .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover {
    color: #fff !important;
    border-color: #0490e2 !important;
    background-color: #0490e2 !important;
}

.btn-danger {
    color: #fff;
    background-color: #EE0303;
    border-color: #EE0303;
}

.btn-danger:hover {
    color: #fff;
    background-color: #ee0f00;
    border-color: #ee0f00;
}

.btn-danger:focus, .btn-danger.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5);
}

.edit-button {
    /*background-color: #0F9DE2;*/
    /*border-color: #0F9DE2;*/
}

.delete-button {
    /*background-color: #EE0303;*/
    /*border-color: #EE0303;*/
}

.margin-1-left {
    margin-left: 10px;
}
