[Unit]
Description=Express CMS service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/var/node_web/express_cms /usr/bin/nodejs /var/node_web/express_cms/bin/www >> /var/log/node-express-cms.log 2>&1

[Install]
WantedBy=multi-user.target
